{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant test criteria page</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
       integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
       <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        h2 {
            color: #555;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            color: #666;
        }
        li {
            margin-bottom: 10px;
        }
        #startButton {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h5 class="mt-4 mb-4">   <p><b> Test Duration: {{ duration }} minutes</b></p></h5>
        <h5 class="mt-4 mb-4">
 <p> <b>Follow Instructions Carefully, read and adhere to all instructions provided below before taking the test.
         
</b></p>
        </h5>
        <hr>
        
        <ul>
              
            <li>Check Your Work: Review your responses for errors or omissions before submitting. Attention to detail is important.</li>
            <li>Respect Time Limits: Adhere to time limits for each section to ensure fairness and consistency.</li>
            <li>Ask for Clarification: If any instructions or questions are unclear, seek clarification from the test administrator.</li>
        </ul>
        <ul>
            <li>No Googling or External Assistance: Do not use search engines, external websites, or any unauthorized materials during the test.</li>
            <li>No Collaboration: Work independently. Collaboration with others or seeking help from friends or colleagues is not allowed.</li>
            <li>No Unauthorized Devices: Do not use any unauthorized devices or software during the test, unless explicitly permitted.</li>
            <li>No Disruptive Behavior: Avoid any disruptive behavior, including attempts to hack or manipulate the testing platform.</li>
            <li>No Violation of Privacy: Respect the privacy and confidentiality of the test content. Do not attempt to share or discuss test questions with others.</li>
            <li>No Multiple Submissions: Submit your test only once. Multiple submissions or attempts to manipulate the submission process are not allowed.</li>
            <li>No Cheating: Do not engage in any form of cheating, including impersonation or using someone else's work as your own.</li>
        </ul>
        <button type="button"  class="btn btn-outline-dark"  data-bs-toggle="modal" data-bs-target="#loadtestModal" >Click here to login</button>
        <div class="modal fade" id="loadtestModal" tabindex="-1" aria-labelledby="loadtestModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loadtestModal">Candidate Login</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="user_id"><b>User ID:</b></label>
                        <input type="text" class="form-control" id="user_id" placeholder="Enter user ID sent in your mail"   name="user_id" required>
                    </div>
                    <div class="form-group">
                        <label for="secret_key"><b>Secret Key:</b></label>
                        <input type="password" class="form-control" id="secret_key" placeholder="Enter secret key"   name="secret_key" required>
                    </div>
                    <button type="button" class="btn btn-dark"  id="startButton" onclick="startTest()">Start Test</button>
                </form>
                </div>
                </div>
                </div>
    </div>
    <div id="overlay">
        <div class="spinner"></div>
    </div>
    <div id="successMessage" style="display: none;"></div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function startTest() {
            const user_id = document.getElementById('user_id').value.trim();
            const secret_key = document.getElementById('secret_key').value.trim();
    
            if (user_id === '' || secret_key === '') {
                alert('Please fill the fields correctly');
                return;
            }
            showLoadingSpinner();
            // Send a POST request to authenticate the user
            $.ajax({
                url: `/authenticate_applicant/${user_id}/${secret_key}`,
                contentType: 'application/json', 
                type: 'POST',
                data: JSON.stringify({ timezone }),
                success: function (data) {
                    // Check if the authentication was successful
                    if (data.access_token) {
                        // Set the received access token as a cookie (if needed)
                        document.cookie = `UserTestToken=${data.access_token}; path=/; secure; samesite=Strict`;
    
                        // Redirect to the test page
                        window.location.href = `/taketest/${user_id}/${secret_key}`;
                        hideSuccessMessage();
                    } else {
                        showSuccessMessage(data.error);
                        setTimeout(() => {
                            hideSuccessMessage();
                            
                        }, 5000);
                        //alert('Authentication failed. Please check your credentials.');
                    }
                    hideLoadingSpinner();

                },
                error: function () {
                    alert('Error during authentication. Please try again later.');
                }
            });
        }
    
        function getCookie(name) {
            const cookieArray = document.cookie.split('; ');
            for (const cookie of cookieArray) {
                const [cookieName, cookieValue] = cookie.split('=');
                if (cookieName === name) {
                    return cookieValue;
                }
            }
            return null;
        }
        
        const UserTestToken = getCookie('UserTestToken');
        console.log(UserTestToken);

        function showLoadingSpinner() {
            document.getElementById('overlay').style.display = 'flex';
        }
    
        function hideLoadingSpinner() {
            document.getElementById('overlay').style.display = 'none';
        }
        function showSuccessMessage(text) {
          message =  document.getElementById('successMessage');
          message.innerHTML = text;
          message.style.display = 'block';
        
        }
        
        function hideSuccessMessage() {
            document.getElementById('successMessage').style.display = 'none';
        }
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

        // Send the time zone to the server
        fetch('/set_timezone/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),  // Ensure CSRF token is included
            },
            body: JSON.stringify({ timezone })
        });
    </script>
</body>
</html>
