{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - MyTestCompanion</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        footer {
            background-color: #34495e;
            color: #ecf0f1;
            text-align: center;
            padding: 1rem;
            bottom: 0;
            width: 100%;
        }
        @media (max-width: 576px) {
            .card-deck {
                flex-direction: column;
            }
            .card-body {
                width: unset;
                flex-direction: left;
            }

        }
    </style>
</head>

<body>
    <header>
        <div style="float: left;">
        <h4> Contact</h4>
        </div>
        <div style="float: right;">
            <a href="{% url 'index' %}" class="signout">  <i class="fa fa-home" aria-hidden="true"></i>Home</a> &nbsp;
            {% if  user.is_authenticated %} 
            <a href="#" class="signout" ><i class="fa fa-tasks" aria-hidden="true"></i>Dashboard</a>   
            <a href="{% url 'logout' %}"  class="signout" style="padding: 8px"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a>
               {% endif %}
                </div>
     </header>

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6">
                <p>If you have any questions, feedback, or inquiries, feel free to get in touch with us. Our team is here to assist you. You can reach us through the following contact details:</p>
                <ul>
                    <li>Email: info@testcompanion.com</li>
                    <li>Phone: +2348067434348</li>
                    <li>Address: 60 Oboye street Nigeria Country</li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Send us a Message</h5>
                        <form id="Contactform">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Your Message</label>
                                <textarea class="form-control" id="message" rows="4" placeholder="Type your message here" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-dark">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay">
        <div class="spinner"></div>
    </div>
    <div id="successMessage" style="display: none;"></div>

    <!-- Add Bootstrap JS and Popper.js links here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>

    $('#Contactform').submit(function (event) {
        // Prevent the default form submission
        event.preventDefault();
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var message = document.getElementById('message').value;
    if (name === '' || email === '' || message === '') {
        if (name === '') {
            document.getElementById('name').focus();
        }
        if (email === '') {
            document.getElementById('email').focus();
        }
        if (message === '') {
            document.getElementById('message').focus();
        }
        
        alert('All fields must be completely filled')    
    return;
    }


showLoadingSpinner();
    fetch('/sendcontactform/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ 
            'name': name,
            'email': email,
            'message':  message}),
    })
    .then(response => {
        if (!response.ok) {
            window.location.href = '/signin?next=/contact';
        }
        return response.json();
        })
    .then(data => {
        hideLoadingSpinner();
        if (data.message){
        showSuccessMessage(data.message);
        }
        if (data.error){
            showSuccessMessage(data.error);

            }

        // Hide the success message after a few seconds
        setTimeout(() => {
            hideSuccessMessage();
        }, 8000);
        if (data.status === 'success') {
            // Refresh the current page on success
            document.getElementById('name').value = '';
            document.getElementById('email').value = '';
            document.getElementById('message').value = '';

            
        } else {
            console.error('Error:', data.error);
            // Handle error as needed
        }
    })
    .catch(error => {
        console.error('Error:', error);
        // Handle error as needed
    });
});




    function showLoadingSpinner() {
        document.getElementById('overlay').style.display = 'flex';
    }
    
    function hideLoadingSpinner() {
        document.getElementById('overlay').style.display = 'none';
    }
    function showSuccessMessage(text) {
      message =  document.getElementById('successMessage');
      message.innerHTML = text;
      message.style.display = 'block';
    
    }
    
    function hideSuccessMessage() {
        document.getElementById('successMessage').style.display = 'none';
    }
    

</script>
</body>

</html>
