{% load static %}
<!-- HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <style>
        .container {
            max-width: 900px;
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input[type="checkbox"] {
            transform: scale(2.0); /* Increase the size of the checkbox */
            margin-right: 5px; /* Adjust the spacing between checkbox and label */
        }
        /* Define your custom styles for the textbox */
        .custom-textbox {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        .custom-option {
            width: 50%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        /* Style for better appearance */
        #flash {
            position: absolute;
            top: 5px;
            right: 10px;
            display: none;
            animation: fadeOut 2s ease-in-out; /* Set the fade-out animation */
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f8f9fa;
        }
    </style>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Edit Question</title>
</head>
<body>
    <header>
        <div style="float: left;">
            <h4> <a href="{% url 'mainboard' user_id=user_id %}" class="signout" style="padding: 12px">
                <span style="font-size: 25px;">  Dashboard / QA </span></a>     </h4> 
        </div>
        <div style="float: right;">
            <a href="{% url 'index' %}" class="signout">  <i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <a href="{% url 'logout' %}"  class="signout" style="padding: 8px"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a>
                </div>
     </header>

    <div class="container mt-5">
    <div style="float: right;">
        <a href="{% url 'dashboard' user_id=user_id %}" class="btn btn-secondary">Home</a>
</div>
    <form method="post" id="questionForm" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" id="upload" class="btn btn-dark" hidden >Save uploaded files</button>

    </form>

    <button type="button"  class="btn btn-dark" onclick="addQuestion();">Add Question</button>&nbsp;
    <button type="button"  class="btn btn-dark" style="display: none;" data-bs-toggle="modal" data-bs-target="#loadtestModal" id="importquestion" onclick="fetchTests('{{ user_id }}')" >Import</button>
</div>

<div class="modal fade" id="loadtestModal" tabindex="-1" aria-labelledby="loadtestModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loadtestModal">Import questions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="postTest" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                    <select id="testDropdown" class="form-select" style="height:40px; width: 200px;"></select>
                    </div>
                    <div class="mb-3">
                    <button type="submit" tabindex="-1" class="btn btn-outline-secondary">Import</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>




<div id="overlay">
    <div class="spinner"></div>
</div>
<div id="successMessage" style="display: none;"></div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        let userid = '{{ user_id }}';
        let testid = '{{ test_id }}';
        let isreload  = false;
        let questionCount_ = 0;
        let edit = false

        $(document).ready(function () {
            fetchData();

            $('#postTest').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();
            var testDropdown = document.getElementById('testDropdown').value;
            if (testDropdown === '0') {
                alert('Please select a test');
                return;
            }
        showLoadingSpinner();
            fetch('/posttest_getquestions/', {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${jwtToken}`,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ 
                    'old_test_id': testDropdown,
                    'new_test_id': testid}),
            })
            .then(response => {
                if (!response.ok) {
                   window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                }
                return response.json();
                })
            .then(data => {
                hideLoadingSpinner();
                if (data.message){
                showSuccessMessage(data.message);
                }
                if (data.error){
                    showSuccessMessage(data.error);
                    }
        
                // Hide the success message after a few seconds
                setTimeout(() => {
                    hideSuccessMessage();
                    location.reload();
                }, 3000);
                if (data.status === 'success') {
                    // Refresh the current page on success
                    //console.log(data);
                    //location.reload();
                } else {
                    console.error('Error:', data.message);
                    // Handle error as needed
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle error as needed
            });
        
        });

           // updatemailstatus('onload');
            // Attach a submit event listener to the form
            $('#questionForm').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();
// Create a new FormData object
const formD = new FormData();

// Append JSON data to FormData
 

// Append file(s) to FormData dynamically
const questionContainers = document.querySelectorAll('[id^="question_"]');
questionContainers.forEach(container => {
    const hash = container.getAttribute('data-hash');
    const fileInput = document.getElementById(`image_${hash}_${testid}`);
    
    if (fileInput && fileInput.files.length > 0) {
        formD.append(`image_${hash}_${testid}`, fileInput.files[0]);
    }
});
        showLoadingSpinner();
        fetch('/uploadimages/' + testid , {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${jwtToken}`,
            },
            body: formD,
        }).then(response => {
                if (!response.ok) {
                    window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                }
                return response.json();
                })
            .then(data => {
                hideLoadingSpinner();
                if (data.message){
                showSuccessMessage(data.message);
                window.location.href = window.location.href;
                }
                if (data.error){
                    showSuccessMessage(data.error);
    
                    }
    
                // Hide the success message after a few seconds
                setTimeout(() => {
                    hideSuccessMessage();
                }, 8000);
                if (data.status === 'success') {
                    // Refresh the current page on success
                    //console.log(data);
                    //location.reload();
                    
                } else {
                    console.error('Error:', data.error);
                    // Handle error as needed
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle error as needed
            });
        });
    
    
    });

        function getCookie(name) {
            const cookieArray = document.cookie.split('; ');
            for (const cookie of cookieArray) {
                const [cookieName, cookieValue] = cookie.split('=');
                if (cookieName === name) {
                    return cookieValue;
                }
            }
            return null;
        }
        
        const jwtToken = getCookie('jwtToken');
        jwtToken = localStorage.getItem('access_token');
        console.log(jwtToken);
        //let edit = false;
        function generateUniqueNumber() {
            const timestamp = new Date().getTime();
            const randomValue = Math.random();
            const hash = CryptoJS.MD5(`${timestamp}-${randomValue}`);
            return hash.toString();
        }

        function populateFormFromJSON(jsonData) {
            const questionForm = document.getElementById('questionForm');
            if (! jsonData['Lnum']) {
                document.getElementById('importquestion').style.display = 'inline';
            }   
            for (const key in jsonData) {
                document.getElementById('importquestion').style.display = 'none';
                edit = true;
                if (key.startsWith('question_text_')) {
                    questionCount_++;
                    if (jsonData['Lnum'] > 0) {
                        questionCount_ = jsonData['Lnum']
                    }
                    //questionCount_++;
                    console.log(questionCount_);
                    const questionCount = parseInt(key.split('_')[2]);
                    const hash = key.replace(`question_text_${questionCount}-`, '');
                    const image = jsonData[`image_${hash}`];
                    console.log(image);
                    const newQuestion = document.createElement('div');
                    newQuestion.innerHTML = `
                    <br>
                    <div class='container'>
                        <div id="question_${questionCount}" data-hash="${hash}">
                            <!-- <h5>Question ${questionCount}</h5> -->
                            <div style="float: right; color: white;">   <label for="${hash}"  name="${hash}" id="${hash}" data-hash="${hash}">${hash}</label></div>

                            <label for="${key}">Question:</label>
                            <input type="text" name="${key}" class='custom-textbox' placeholder='Add Question' value="${jsonData[key]}" required>
                            <label for="image_${key}_{{ test_id }}">Image:</label>
                            <input type="file" name="image_${key}_{{ test_id }}" id="image_${hash}_{{ test_id }}" accept="image/*">
                        
                            <div id="image-preview_${key}_{{ test_id }}">
                                <!-- Display the existing image if available -->
                                <img src="/static/images/${image}" alt="*jpg, *png only" style="max-width: 100%; max-height: 100px;">

                            </div>
                                                        <br>
                            <label for="options-container_${questionCount}">Options:</label>
                            <div id="options-container_${questionCount}">
                            </div>
                            <button type="button" class="btn btn-outline-dark"  onclick="addOption(${questionCount}, '{{ test_id }}')">Add Option</button>
                            <button type="button" class="btn btn-outline-dark"  onclick="removeQuestion(${questionCount}, '${hash}', '{{ test_id }}')">Remove Question</button>
                            <button type="button" class="btn btn-outline-dark"  onclick="saveQuestion('{{ test_id }}')">Save all / upload files</button>
                            <br>
                        </div>
                    </div>
                    `;
    
                    questionForm.appendChild(newQuestion);
    
                    // Populate options
                    const optionsContainer = document.getElementById(`options-container_${questionCount}`);
                    let correctOptions = [];
    
                    for (const optionKey in jsonData) {
                        if (optionKey.startsWith(`option_text_${questionCount}`)) {
                            const optionNumber = optionKey.split('_')[3];
                            const optionText = jsonData[optionKey];
    
                            const optionInput = document.createElement('div');
                            optionInput.innerHTML = `
                                <input type="text" class='custom-option' name="${optionKey}" value="${optionText}" required>
                                <input type="checkbox" name="correct_option_${questionCount}[]" value="${optionNumber}" ${jsonData[`correct_option_${questionCount}`].includes(optionNumber) ? 'checked' : ''}> Option ${optionNumber}
                                <br>
                            `;
    
                            optionsContainer.appendChild(optionInput);
    
                            if (jsonData[`correct_option_${questionCount}`].includes(optionNumber)) {
                                correctOptions.push(optionNumber);
                            }
                        }
                    }
    
                    // If correct options are not found among the existing options, create them
                    for (const correctOption of jsonData[`correct_option_${questionCount}`]) {
                        if (!correctOptions.includes(correctOption)) {
                            const correctOptionInput = document.createElement('div');
                            correctOptionInput.innerHTML = `
                                <input type="checkbox" name="correct_option_${questionCount}[]" value="${correctOption}" checked> Option ${correctOption}
                                <br>
                            `;
    
                            optionsContainer.appendChild(correctOptionInput);
                        }
                    }
                }
            }
        }
        

        function fetchData() {
            // Replace 'your_jwt_token' with the actual token value
        console.log('Authorization');
            return fetch(`/get_data/${testid}/${userid}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${jwtToken}`,
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                    throw new Error(`HTTP error! Status: ${response.status}`);
                window.location.href = '/signin?next=/editquestion/' + testid + '/' + userid;
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                populateFormFromJSON(data);
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
        }
       
// Trigger fetchData when the page loads
document.addEventListener('DOMContentLoaded', function () {
    fetchData();
});

    function handleOptionChange(questionNumber) {
        // Post JSON data to API immediately when changing options
        postJSONData('{{ test_id }}');
    }
    function getImagePathForQuestion(questionNumber) {
        // You may need to fetch the image path from your data source
        // Replace this with the actual logic to get the image path based on questionNumber
        // For example, if you have an array of image paths in JavaScript:
        const imagePaths = {"1":
            "/static/images/1.jpg", // replace with the actual paths
             "2": "/static/images/2.jpg",
            // ... other image paths ...
        };

        // Assuming questionNumber is 1-indexed
        const imagePath = imagePaths[questionNumber];

        return imagePath || ""; // Return empty string if no image path
    }
    function addQuestion() {
      //  if (edit === true){
       //     questionCount_++;
        //}
        document.getElementById('importquestion').style.display = 'none';
        console.log('none');
        edit = false;
        questionCount_++;
        const hash = generateUniqueNumber()
        const questionForm = document.getElementById('questionForm');

        const newQuestion = document.createElement('div');
        newQuestion.innerHTML = `<br>
        <div class='container'>
            <div id="question_${questionCount_}" data-hash="${hash}">
                <!-- <h5>Question ${questionCount_}</h5> -->
                <div style="float: right; color: white;"> <label for="${hash}" name="${hash}" id="${hash}" data-hash="${hash}">${hash}</label></div>
                <label for="question_text_${questionCount_}-${hash}">Question:</label>
                <input type="text" class='custom-textbox'  name="question_text_${questionCount_}-${hash}" required>
                
                <label for="image_${hash}_{{ test_id }}">Image:</label>
                <input type="file" name="image_${hash}_{{ test_id }}" id="image_${hash}_{{ test_id }}" accept="image/*">
            
                <div id="image-preview_${hash}_{{ test_id }}">
                    <!-- Display the existing image if available -->
                    <img src="/static/images/image_${hash}_{{ test_id }}.jpeg" alt="*JPG, *png only"  style="max-width: 100%; max-height: 100px;">


                </div>
                
                <br>
                <label for="options-container_${questionCount_}">Options:</label>
                <div id="options-container_${questionCount_}">
                    <input type="text" class='custom-option' name="option_text_${questionCount_}_1" required>
                    <input type="checkbox" name="correct_option_${questionCount_}[]" value="1" checked onchange="handleOptionChange(${questionCount_})"> Option 1
                    <br>
                </div>
                <button type="button" class="btn btn-outline-dark" onclick="addOption(${questionCount_}, '{{ test_id }}')">Add Option</button>
                <button type="button" class="btn btn-outline-dark"  onclick="removeQuestion(${questionCount_}, '${hash}', '{{ test_id }}')"">Remove Question</button>
                <button type="button" class="btn btn-outline-dark"  onclick="saveQuestion('{{ test_id }}')">Save all / upload files</button>
        
            </div>
        </div>
            <br>
        `;

        questionForm.appendChild(newQuestion);
        
        // Post JSON data to API immediately when adding a question
        //postJSONData('{{ test_id }}');
    }


        function saveQuestion(test_id) {
            showLoadingSpinner();
            postJSONData(test_id);
            isreload = true;
        }
       

        function addOption(questionNumber, test_id) {
            const optionsContainer = document.getElementById(`options-container_${questionNumber}`);
            console.log(optionsContainer.children.length);
            let optionCount = optionsContainer.children.length - 1;
            if (edit === true){
                optionCount = (optionsContainer.children.length + 1);
            }
            const newOption = document.createElement('div');
            newOption.innerHTML = `
                <input type="text" class='custom-option' name="option_text_${questionNumber}_${optionCount}" required>
                <input type="checkbox" name="correct_option_${questionNumber}[]" value="${optionCount}"> Option ${optionCount}
                <br>
            `;
            optionsContainer.appendChild(newOption);
    
            // Post JSON data to API immediately when adding an option
            postJSONData(test_id);
        }
        
        function removeQuestion(questionNumber, hash_, test_id) {
            showLoadingSpinner()
            const headers = new Headers({
                'Authorization': `Bearer ${jwtToken}`
            });
            fetch(`/question_post_delete/?hash=${hash_}`, {
                method: 'POST',
                headers: headers,
            })
            .then(response => response.json())
            .then(data => {
                hideLoadingSpinner()
                console.log('Data received from API:', data);
                if (data.error) {
                showSuccessMessage(data.error);
                setTimeout(() => {
                    hideSuccessMessage();
                    window.location.reload();
                }, 3000);
                }
                if (! data.error) {
                window.location.reload();
                }
                    const questionElement = document.getElementById(`question_${questionNumber}`);
                    questionElement.remove();
        
                    // Post JSON data to API immediately when removing a question
                   // postJSONData(test_id);
              
            })
            .catch(error => {
                window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                console.error('Error receiving data from API:', error);
            });
            //console.log(hash_)
           

        }
        function postJSONData(test_id) {
            const formData = new FormData(document.getElementById('questionForm'));
            const jsonData = {};

            formData.forEach((value, key) => {
                if (!jsonData[key]) {
                    jsonData[key] = value;
                } else {
                    if (!Array.isArray(jsonData[key])) {
                        jsonData[key] = [jsonData[key]];
                    }
                    jsonData[key].push(value);
                }
            });
            
            //jsonData['test_id'] = '2f042eda-f44f-4b7d-bf02-87f994ea7776';
            jsonData['test_id'] = test_id;
            const headers = new Headers({
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${jwtToken}`
            });
            // Send JSON data to your API using fetch or another method
            fetch('/question_post/', {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(jsonData),
            })
            .then(response => {
                if (!response.ok) {
                    window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            }
            )
            .then(data => {
                hideLoadingSpinner();
                if (data.message){
                showSuccessMessage(data.message);
                
                if (isreload === true) {
                    document.getElementById('upload').click();
                }
                }
                if (data.error){
                    showSuccessMessage(data.error);
                    }

                // Hide the success message after a few seconds
                setTimeout(() => {
                    hideSuccessMessage();
                }, 3000);
                if (data.msg === "Token has expired") {
                    window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                }
                console.log('Data sent to API:', data);
            })
            .catch(error => {
                hideLoadingSpinner();
               	window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                console.error('Error sending data to API:', error);
            });
        }

        function populateTestDropdown(tests) {
            const selectElement = document.getElementById('testDropdown');
            selectElement.innerHTML = ''; // Clear previous options
            const optiondef = document.createElement('option');
            optiondef.value = 0;
            optiondef.textContent = 'Select test'
            selectElement.appendChild(optiondef);
            tests.forEach(test => {
                const option = document.createElement('option');
                option.value = test.id;
                option.textContent = test.name + '(' + test.created + ')';
                selectElement.appendChild(option);
            });
        }
        function fetchTests(user_id) {
            showLoadingSpinner();
            return fetch(`/get_test/${user_id}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${jwtToken}`,
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    window.location.href = '/login_view?next=/editquestion/' + testid + '/' + userid;
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                populateTestDropdown(data);
                hideLoadingSpinner();
            })
            .catch(error => {
                console.error('Fetch error:', error);
                hideLoadingSpinner();
            });
        }

      
        function showLoadingSpinner() {
            document.getElementById('overlay').style.display = 'flex';
        }
    
        function hideLoadingSpinner() {
            document.getElementById('overlay').style.display = 'none';
        }
        function showSuccessMessage(text) {
          message =  document.getElementById('successMessage');
          message.innerHTML = text;
          message.style.display = 'block';
        
        }
        
        function hideSuccessMessage() {
            document.getElementById('successMessage').style.display = 'none';
        }
    </script>
</body>
</html>
