{% extends 'Master.html' %}

{% block title %}
  Welcome to your MainBoard
{% endblock title %}

{% block contents %}

  <!-- <h3><b>Features</b></h3> -->

  <p>Welcome to TestCompanion! This platform provides you with a range of powerful features to manage and customize your experience. Explore the following sections to make the most out of the application:</p>

  <h4> <i class="fa fa-user" aria-hidden="true"> </i> Users</h4>
  <p>The Users section allows you to efficiently manage user accounts. Designate roles, and organize users as per your system's requirements, users are the members who can create and manage their candidates and administer test to them accordlingly.</p>

  <h4><i class="fa fa-envelope" aria-hidden="true"> </i> Mail Settings</h4>
  <p>Configure email forwarding seamlessly with the Email Setup feature. Ensure effective communication and streamline the forwarding of important messages. Follow the provided steps to set up email server settings and optimize your email workflow.</p>

  <h4>  <i class="fa fa-book" aria-hidden="true"></i> Tests</h4>
  <p>The Tests section is designed for applicants to complete assessments as part of the application process. Administer and manage tests efficiently, review results, and make informed decisions based on applicants' performances. This feature simplifies the evaluation process and enhances your recruitment procedures.</p>

  <h4> <i class="fa fa-male" aria-hidden="true"></i>  Profile</h4>
  <p>Customize your personal profile in the Profile section. Update your details, change preferences, and tailor MainBoard to suit your needs. Your profile is your space on MainBoard, so make it uniquely yours.</p>

  <p>Explore each section to unlock the full potential of Dashboard and streamline your tasks effortlessly.</p>

{% endblock contents %}
