{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/styles/style.css"> -->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>Dynamic Question Page</title>
    <style>
        body {
            padding-top: 50px; /* Adjust the top padding for the fixed navigation bar */
        }

        #page-count {
            position: absolute;
            top: 0;
            right: 30px;
            font-size: 15px;
            font-weight: bold;
            color: red;
        }

        #question-container {
            text-align: left;
        }

        #question-number,
        #question-text,
        #options-form {
            max-width: 100%;
            text-align: left;
            font-size: 20px;
            margin-bottom: 10px;
        }

        #question-number {
            font-weight: bold;
            padding-bottom: 5px;
            font-family: 'Pacifico', cursive;
        }

        #navigation-buttons {
            text-align: center;
        }

        @media (max-width: 576px) {
            #question-number,
            #question-text,
            #options-form {
                font-size: 16px;
            }

            #first-button,
            #prev-button,
            #next-button,
            #last-button,
            #submit-button {
                font-size: 14px;
                padding: 10px 15px;
            }
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div id="question-container" style="display: none;">
                <label id="question-number" style="font-weight: bold;"></label>
                <div id="question-text"></div>
                <div id="image-preview">
                    <!-- Display the existing image if available -->
                    <img src="#" alt="" id="image-text" class="img-fluid" style="max-height: 900px;">
                </div>
                <form id="options-form">
                    <div id="options-container"></div>
                </form>
                <div id="navigation-buttons" style="display: none;">
                    <button id="first-button" class="btn btn-danger" onclick="getQuestion('first', '{{ test_day_id }}', '{{ user_id }}')"><<</button>
                    <button id="prev-button" class="btn btn-danger" onclick="getQuestion('prev', '{{ test_day_id }}', '{{ user_id }}')"><</button>
                    <button id="next-button" class="btn btn-danger" onclick="getQuestion('next', '{{ test_day_id }}', '{{ user_id }}')">></button>
                    <button id="last-button" class="btn btn-danger" onclick="getQuestion('last', '{{ test_day_id }}', '{{ user_id }}')">>></button>
                    <button id="submit-button" class="btn btn-danger" onclick="submitTest()">Submit</button>
                </div>
            </div>
            <div id="page-count" style="display: none;">
                Question: <span id="current-page"></span>/<span id="total-pages"></span>
                <hr>
                <div id="countdown" style="text-align: center; display: none">--:--</div>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <div class="spinner"></div>
</div>
<script>
    let count_dict = NaN;
    let currentQuestionNumber = 1; // Initial question number
    let currentQuestionId = ""; // Variable to store the current question ID
    function getCookie(name) {
        const cookieArray = document.cookie.split('; ');
        for (const cookie of cookieArray) {
            const [cookieName, cookieValue] = cookie.split('=');
            if (cookieName === name) {
                return cookieValue;
            }
        }
        return null;
    }
    
    const TestToken = getCookie('UserTestToken');
    console.log(TestToken);
    function updatePage(questionData) {
        console.log(questionData);
        // Update question number label
        $('#question-number').text(`Question ${currentQuestionNumber}`);

        // Update question text
        $('#question-text').text(questionData.Question);
        console.log(questionData.imageurl);
        if (questionData.imageurl) {
            $('#image-text').show();
            $('#image-text').attr('src', questionData.imageurl);
        }else
        {
            $('#image-text').hide();
        }
        // Update options
        let optionsContainer = $('#options-container');
        optionsContainer.empty(); // Clear previous options

        // Create checkboxes dynamically
        let optionsForm = $('#options-form');
        optionsForm.empty()
        for (let optionNum in questionData.options) {
            let optionText = questionData.options[optionNum];
            let questionIdWithUnderscore = `Question_${questionData.question_id}`;
            let optionInput = `<div class="form-check"><input type="checkbox" class="form-check-input" name="options" value="${optionNum}" id="${questionIdWithUnderscore}-option-${optionNum}">
                               <label class="form-check-label" for="${questionIdWithUnderscore}-option-${optionNum}">${optionText}</label></div><br>`;
            optionsForm.append(optionInput);

            // Check the checkbox if it corresponds to the selected options
            if (questionData.selectedOptions.includes(optionNum)) {
                $(`#${questionIdWithUnderscore}-option-${optionNum}`).prop('checked', true);
            }
        }

        // Store the current question ID
        currentQuestionId = questionData.question_id;
        console.log(currentQuestionId)

        // Update page count
        $('#current-page').text(currentQuestionNumber);
        $('#total-pages').text(count_dict.count);
    }
        function getQuestion(direction, test_day_id, user_id) {
        // API request to fetch the question based on the direction (first, prev, next, last)
        // Update current question number based on direction
        if (direction === 'first') {
            currentQuestionNumber = 1;
        } else if (direction === 'prev' && currentQuestionNumber > 1) {
            currentQuestionNumber--;
        } else if (direction === 'next' && currentQuestionNumber < count_dict.count) {
            currentQuestionNumber++;
        } else if (direction === 'last') {
            // You need to know the total number of questions (replace 10 with the actual count)
            //currentQuestionNumber = Math.min(currentQuestionNumber + 1, 10);
        // Fetch the total question count from the API
        currentQuestionNumber = count_dict.count;
        }
        else {
            return;
        }
       // Check if it's the last question
    const isLastQuestion = currentQuestionNumber === count_dict.count;
    // If submit button is visible, hide next and last buttons
       // If submit button is visible, hide next and last buttons
    if (isLastQuestion) {
        $('#next-button, #last-button').hide();
        $('#submit-button').show();
    } else {
        $('#next-button, #last-button').show();
        $('#submit-button').hide();
    }
        $.ajax({
            url: `/get_question/${currentQuestionNumber}/${test_day_id}/${user_id}`,
            type: 'GET',
            beforeSend: function(xhr) {
                // Add the bearer token to the Authorization header
                xhr.setRequestHeader('X-CSRFToken',  getCookie('csrftoken'));
            },
            success: function (questionData) {
                // Update the page with the fetched question
                //durationInSeconds = 60 * questionData.duration; 
                //startCountdown();
                console.log(questionData.Question);
                if (questionData.Question) {
                $('#navigation-buttons').show();
                $('#question-container').show();
                $('#page-count').show();
                $('#countdown').show();
                }else{
                    alert('1');
                    window.location.href = `/Timeout/${test_day_id}/${user_id}`;
                }
                updatePage(questionData);

                
            },
            error: function (error) {
                window.location.href = '/applicant';
                console.error('Error fetching question:', error.responseText);
            }
        });
    }
    var test_day_id = "{{ test_day_id }}";
    var user_id = "{{ user_id }}";
    // Load the initial question when the page loads
    $(document).ready(function () {
        getQuestion('first', test_day_id, user_id);
        $.ajax({//test_day_id
            url: `/question_count/${test_day_id}/${user_id}`,
            type: 'GET',
            beforeSend: function(xhr) {
                // Add the bearer token to the Authorization header
                xhr.setRequestHeader('X-CSRFToken',  getCookie('csrftoken'));
            },
            success: function (totalCount) {
                count_dict = totalCount;
                durationInSeconds =  Math.floor(60 * count_dict.duration); 
                $('#total-pages').text(count_dict.count);
                if (count_dict.count === 1) {
                    $('#next-button, #last-button').hide();
                    $('#prev-button, #first-button').hide();
                    $('#submit-button').show();
                }
                startCountdown();
                console.log(totalCount);
                //}
                //else {
                //    window.location.href = '/Timeout';
                //}
            },
            error: function (error) {
                window.location.href = '/applicant';
                console.error('Error fetching question count:', error.responseText);
            }
        });

        // Add change event listener to checkboxes
$('#options-form').on('change', 'input[type="checkbox"]', function () {
    // Handle the selection change, and send the post request
    let selectedOptions = $('input[name="options"]:checked').map(function () {
        return $(this).val();
    }).get();
    
    // Assuming you have the user_id available, replace "your_user_id" with the actual value
    let userId = user_id;
    let postData = {
        user_id: user_id,
        question_id: currentQuestionId,
        option_numbers: selectedOptions,
        question_number: currentQuestionNumber
    };
    let durationInSeconds = 0;

    // Send the post request
    $.ajax({
        url: '/post_selection/', // Replace with your actual endpoint for posting selections
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(postData),
        beforeSend: function(xhr) {
            // Add the bearer token to the Authorization header
            xhr.setRequestHeader('X-CSRFToken',  getCookie('csrftoken'));
        },
        success: function (response) {
            if (response.msg === 'Token has expired') {
                window.location.href = '/applicant';
            }
            console.log('Post successful:', response);
        },
        error: function (error) {
            window.location.href = '/applicant';
            console.error('Error posting selection:', error.responseText);
        }
    });
});
});

   // Set the initial duration in seconds
   function startCountdown() {
    timerInterval = setInterval(updateCountdown, 1000);
}
  // durationInSeconds = 600; // 10 minutes

   function updateCountdown() {
       // Calculate minutes and seconds
       let minutes = Math.floor(durationInSeconds / 60);
       let seconds = durationInSeconds % 60;

       // Display the countdown in the specified format (e.g., 10:00)
       let formattedTime = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
       document.getElementById('countdown').innerText = formattedTime;

       // Check if the countdown has reached zero
       if (durationInSeconds <= 0) {
           clearInterval(timerInterval); // Stop the timer
           alert('Time is up!'); // You can replace this with your desired action
           window.location.href = `/Timeout/${test_day_id}/${user_id}`;
        } else {
           durationInSeconds--; // Decrease the countdown by 1 second
       }
   }

   // Call the updateCountdown function every second (1000 milliseconds)
   let timerInterval = NaN;
function submitTest() {
    // Display a confirmation dialog
    var userConfirmed = confirm('Are you sure you want to submit the test?');

    // Check the user's response
    if (userConfirmed === true) {
        showLoadingSpinner();
        // If the user clicks "OK" (true), perform the submission action
        window.location.href = `/Timeout/${test_day_id}/${user_id}`;
    }
}
function showLoadingSpinner() {
    document.getElementById('overlay').style.display = 'flex';
}

function hideLoadingSpinner() {
    document.getElementById('overlay').style.display = 'none';
}
</script>

</body>
</html>
